
.titulo {
    color: #454ADE;
    font-size: 35px;
}
body {
    background-color: black;
}
.skills {
    color: azure;
}
.sobre_mim {
    color: azure;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}
img {
    ;
}