h1 {
    width: 200px;
    color: orange;
    font-family: sans-serif;
    background-color: orange;
}
ul {
    background-color: aqua;
}
.cor {
    color: rgb(109, 13, 153);
    background-color: rgb(109, 13, 153);
}
p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    line-height: 2em;
    text-align: center;
    text-decoration: line-through;
}
body {
    font-size: 16px;
}