div:hover {
    border: 10px solid black;  
}
div:nth-child(3) {
    background-color: blue;
}
div:nth-child(4) {
    background-color: red;
}
div:nth-child(5) {
    height: 100px;
    background-color: yellow;
}
div:nth-child(6) {
    background-color: darkblue;
}
div:nth-child(7) {
    background-color: lightblue;
}
h3:nth-child(odd) {
    font-style: italic;
}